html {
    font-size: 14px;
}
body {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
}
.sidebar {
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding:0.5rem;
    width: 280px;
}
.sidebar-header {
    align-items: center;
    display: flex;
}
.sidebar-header .ver {
    margin-left: auto;
    opacity: 0.3;
}
.sidebar hr {
    margin: 0.5rem 0;
}
.sidebar .current-user .avatar {
    align-items: center;
    border-radius: 50%;
    display: flex;
    font-size: 1.25rem;
    height: 32px;
    justify-content: center;
    margin-right: .5rem;
    overflow: hidden;
    width: 32px;
}
.sidebar .current-user .avatar img {
    height: 32px;
    width: 32px;
}
.main-container {
    flex-grow: 1;
    overflow: auto;
    padding: 0.5rem 1rem;
}
.form-default {
    max-width: 600px;
}
.form-default .btn {
    min-width: 100px;
}
